.centerAds {
    display: grid;
    place-items: center;
    margin-right: 0;
    margin-bottom: 12px;
}

.centerBigAds {
    position: relative;
    left: -10%;
}

.sideAds {
    position: fixed;
}

.leftAds {
    left: 1%;
}

.rightAds {
    right: 1%;
}

.minTopAds {
    top: 30%;
}

#BS_MOBILE_HOME_TOP .ssm_adunit_container {
    position: relative;
    /*left: 4%;*/
}
/********/
/*
    Type 1 -->  Home, partidos, jornadas...
    Type 2 -->  Eventos del partido
*/
.side-ads {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.side-ads .dugout-box {
    position: absolute;
    height: auto;
    overflow: hidden; 
    text-align: center;
    pointer-events: all;
    transition: all .5s;
}
.side-ads .dugout-box.left {left: 0;}
.side-ads .dugout-box.right {right: 0}

.side-ads.type1 .dugout-box {width: calc(50% - 340px); top: 30%;}
.side-ads.type2 .dugout-box.left {width: calc(50% - 495px); top: 30%;}
.side-ads.type2 .dugout-box.right {width: calc(50% - 565px); top: 30%;}

@media (min-width: 1200px) {
    .side-ads.type1 .dugout-box {width: calc(50% - 400px);}
}
@media(min-width: 1920px) {
    .side-ads.type1 .dugout-box {width: calc(50% - 465px);}
    .side-ads.type2 .dugout-box.left {width: calc(50% - 580px);}
    .side-ads.type2 .dugout-box.right {width: calc(50% - 665px);}
    .centerBigAds {left: -2%}
}

@media (max-width: 1023px) {
    #BS_DESKTOP_NEWS_TOP, #BS_DESKTOP_NEWS_MIDDLE, #BS_DESKTOP_STICKY_PARENT, #besocy_desktop { display: none };
}
@media (min-width: 1023px) {
    #BS_MOBILE_NEWS_TOP, #BS_MOBILE_NEWS_MIDDLE, #BS_MOBILE_STICKY_PARENT { display: none };
}
.new-sticky {
    position: fixed;
    bottom: 0px;
    /* z-index: 9999; */
    width: 100vw;
    height: 50px;
    text-align: -webkit-center;
}

.ads-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pbnetVideo {
    top: 60px !important;
}
/********/
#BS_DESKTOP_STICKY_PARENT {
    bottom: 0;
    transition: all .3s ease;
}
#BS_DESKTOP_STICKY_PARENT.scroll-bottom {bottom: 45px;}
#BS_MOBILE_STICKY_PARENT.scroll-bottom, #BS_MOBILE_STICKY_PARENT.scroll-bottom-menu { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#BS_MOBILE_STICKY_PARENT.scroll-bottom {
    bottom: 45px; 
}    
#BS_MOBILE_STICKY_PARENT.scroll-bottom-menu { /* si hay menú inferior fijo */
    bottom: 60px;
}

#BS_DESKTOP_HOME_LEFT, #BS_DESKTOP_HOME_RIGHT {top: 9% !important;}

.sub-header #BS_DESKTOP_TOP iframe,
.sub-header #BS_MOBILE_TOP iframe {
    margin-top: 50px;
}

/******** SKIN ********/
.raiSkinDesktop .iframeskin {display: none;}
@media(min-width: 1024px) {
    /*.raiSkinDesktop .header-search, .raiSkinDesktop .content {
        padding-top: 0px !important;
        overflow: inherit;
        padding-bottom: 0px;
        width: 1000px;
        background-color: white;
        z-index: 2;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .raiSkinDesktop .header-search {
        position: static; 
        top: 0; 
        padding: 0; 
        margin-top: 240px;
        z-index: 3;
    }
    .raiSkinDesktop .header-search .search-box {padding-right: 5px;}
    .raiSkinDesktop .content {overflow: auto; margin-top: 0;}*/
    .raiSkinDesktop .logo-svg.big {display: none !important;}
    .raiSkinDesktop .logo-svg.small {display: block !important; width: 46px !important;}
    .raiSkinDesktop .search-mic {display: none;}
    .raiSkinDesktop .header-search .sel-menu > a {padding: 0 3px 8px;}
    .raiSkinDesktop .header-search .search-box .menu, .raiSkinDesktop .menu-box.list-box a {font-size: 13px;}
    .raiSkinDesktop .autocomplete-box ul li a .main-text {font-size: 14px;}
    .raiSkinDesktop .header-search .search-bar .autocomplete-box ul li a  .main-sub-text {font-size: 13px;}
    .raiSkinDesktop .grid-item.pr20p, .raiSkinDesktop .grid-item.pl20p {padding: 0;}
    .raiSkinDesktop .grid-item.pl15p, .raiSkinDesktop .grid-item.pr10p {padding: 1%;}
    .raiSkinDesktop .results.news-list .news-vertical h3 {font-size: 38px; margin-top: 5px;}
    .raiSkinDesktop .btn-info-i {display: none;}
    body.raiSkinDesktop.protect:before {content: unset;}
    .raiSkinDesktop .popup-favourites {position: absolute;}
    .raiSkinDesktop .masonry-wrapper, .raiSkinDesktop .matches {padding-right: 10px; padding-left: 10px;}
    .raiSkinDesktop .grid-center-50 {padding: 0px !important;}
    #fichajes.raiSkinDesktop .sub-header .head-info {width: 1000px;left: 50%;transform: translateX(-50%);}
    #preview.raiSkinDesktop .grid-item, #analysis.raiSkinDesktop .grid-item {width: 49%;}
    #lineups.raiSkinDesktop .grid-item.grid-45 {width: 49%;}
    .raiSkinDesktop .iframeskin {display: block;}
    /*.raiSkinDesktop .copyright {color: white;}
    .raiSkinDesktop .footer .footer-right .sm-border .sm-img {fill: white;}*/
    .raiSkinDesktop .footer.sticky-bottom {padding-top: 0;}
    .raiSkinDesktop .news-article .embed-container,.news-article .embed-container {width: 100%;}
}

/******** SKIN BETS ********/
.skinad {top: 65px;}
.skinad .publi-box {width: calc(50% - 340px);}
@media (min-width: 1200px) {
    .skinad.skinad-type2 .publi-box {width: calc(50% - 400px);}
}
@media(min-width: 1920px) {
    .skinad.skinad-type2 .publi-box {width: calc(50% - 465px);}
}
/**/
@media (max-width: 1100px) {
    .skinad.skinad-type2 {display: block;}
}
@media (max-width: 1024px) {
    .skinad.skinad-type2 {display: none;}
}